service-stubs/org.wso2.carbon.metrics.data.service.stub/src/main/resources/MetricsDataService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.data.metrics.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://service.data.metrics.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.data.metrics.carbon.wso2.org">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.data.metrics.carbon.wso2.org/xsd">
            <xs:complexType name="MetricData">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="data" nillable="true" type="ax21:ArrayOfBigDecimal"/>
                    <xs:element minOccurs="0" name="metadata" nillable="true" type="ax21:Metadata"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfBigDecimal">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="array" nillable="true" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Metadata">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="names" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="types" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://service.data.metrics.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.data.metrics.carbon.wso2.org">
            <xs:import namespace="http://service.data.metrics.carbon.wso2.org/xsd"/>
            <xs:element name="getAllSources">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllSourcesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findLastJMXMemoryMetrics">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findLastJMXMemoryMetricsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:MetricData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findJMXMemoryMetricsByTimePeriod">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="startTime" type="xs:long"/>
                        <xs:element minOccurs="0" name="endTime" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findJMXMemoryMetricsByTimePeriodResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:MetricData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findLastJMXCPULoadMetrics">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findLastJMXCPULoadMetricsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:MetricData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findJMXCPULoadMetricsByTimePeriod">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="startTime" type="xs:long"/>
                        <xs:element minOccurs="0" name="endTime" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findJMXCPULoadMetricsByTimePeriodResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:MetricData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findLastJMXLoadAverageMetrics">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findLastJMXLoadAverageMetricsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:MetricData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findJMXLoadAverageMetricsByTimePeriod">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="startTime" type="xs:long"/>
                        <xs:element minOccurs="0" name="endTime" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findJMXLoadAverageMetricsByTimePeriodResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:MetricData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findLastJMXFileDescriptorMetrics">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findLastJMXFileDescriptorMetricsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:MetricData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findJMXFileDescriptorMetricsByTimePeriod">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="startTime" type="xs:long"/>
                        <xs:element minOccurs="0" name="endTime" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findJMXFileDescriptorMetricsByTimePeriodResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:MetricData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findLastJMXPhysicalMemoryMetrics">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findLastJMXPhysicalMemoryMetricsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:MetricData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findJMXPhysicalMemoryMetricsByTimePeriod">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="startTime" type="xs:long"/>
                        <xs:element minOccurs="0" name="endTime" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findJMXPhysicalMemoryMetricsByTimePeriodResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:MetricData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findLastJMXClassLoadingMetrics">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findLastJMXClassLoadingMetricsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:MetricData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findJMXClassLoadingMetricsByTimePeriod">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="startTime" type="xs:long"/>
                        <xs:element minOccurs="0" name="endTime" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findJMXClassLoadingMetricsByTimePeriodResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:MetricData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findLastJMXThreadingMetrics">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findLastJMXThreadingMetricsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:MetricData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findJMXThreadingMetricsByTimePeriod">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="startTime" type="xs:long"/>
                        <xs:element minOccurs="0" name="endTime" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findJMXThreadingMetricsByTimePeriodResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:MetricData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="findLastJMXThreadingMetricsRequest">
        <wsdl:part name="parameters" element="ns:findLastJMXThreadingMetrics"/>
    </wsdl:message>
    <wsdl:message name="findLastJMXThreadingMetricsResponse">
        <wsdl:part name="parameters" element="ns:findLastJMXThreadingMetricsResponse"/>
    </wsdl:message>
    <wsdl:message name="findJMXPhysicalMemoryMetricsByTimePeriodRequest">
        <wsdl:part name="parameters" element="ns:findJMXPhysicalMemoryMetricsByTimePeriod"/>
    </wsdl:message>
    <wsdl:message name="findJMXPhysicalMemoryMetricsByTimePeriodResponse">
        <wsdl:part name="parameters" element="ns:findJMXPhysicalMemoryMetricsByTimePeriodResponse"/>
    </wsdl:message>
    <wsdl:message name="findJMXThreadingMetricsByTimePeriodRequest">
        <wsdl:part name="parameters" element="ns:findJMXThreadingMetricsByTimePeriod"/>
    </wsdl:message>
    <wsdl:message name="findJMXThreadingMetricsByTimePeriodResponse">
        <wsdl:part name="parameters" element="ns:findJMXThreadingMetricsByTimePeriodResponse"/>
    </wsdl:message>
    <wsdl:message name="findJMXMemoryMetricsByTimePeriodRequest">
        <wsdl:part name="parameters" element="ns:findJMXMemoryMetricsByTimePeriod"/>
    </wsdl:message>
    <wsdl:message name="findJMXMemoryMetricsByTimePeriodResponse">
        <wsdl:part name="parameters" element="ns:findJMXMemoryMetricsByTimePeriodResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllSourcesRequest">
        <wsdl:part name="parameters" element="ns:getAllSources"/>
    </wsdl:message>
    <wsdl:message name="getAllSourcesResponse">
        <wsdl:part name="parameters" element="ns:getAllSourcesResponse"/>
    </wsdl:message>
    <wsdl:message name="findLastJMXCPULoadMetricsRequest">
        <wsdl:part name="parameters" element="ns:findLastJMXCPULoadMetrics"/>
    </wsdl:message>
    <wsdl:message name="findLastJMXCPULoadMetricsResponse">
        <wsdl:part name="parameters" element="ns:findLastJMXCPULoadMetricsResponse"/>
    </wsdl:message>
    <wsdl:message name="findJMXLoadAverageMetricsByTimePeriodRequest">
        <wsdl:part name="parameters" element="ns:findJMXLoadAverageMetricsByTimePeriod"/>
    </wsdl:message>
    <wsdl:message name="findJMXLoadAverageMetricsByTimePeriodResponse">
        <wsdl:part name="parameters" element="ns:findJMXLoadAverageMetricsByTimePeriodResponse"/>
    </wsdl:message>
    <wsdl:message name="findLastJMXLoadAverageMetricsRequest">
        <wsdl:part name="parameters" element="ns:findLastJMXLoadAverageMetrics"/>
    </wsdl:message>
    <wsdl:message name="findLastJMXLoadAverageMetricsResponse">
        <wsdl:part name="parameters" element="ns:findLastJMXLoadAverageMetricsResponse"/>
    </wsdl:message>
    <wsdl:message name="findLastJMXMemoryMetricsRequest">
        <wsdl:part name="parameters" element="ns:findLastJMXMemoryMetrics"/>
    </wsdl:message>
    <wsdl:message name="findLastJMXMemoryMetricsResponse">
        <wsdl:part name="parameters" element="ns:findLastJMXMemoryMetricsResponse"/>
    </wsdl:message>
    <wsdl:message name="findLastJMXClassLoadingMetricsRequest">
        <wsdl:part name="parameters" element="ns:findLastJMXClassLoadingMetrics"/>
    </wsdl:message>
    <wsdl:message name="findLastJMXClassLoadingMetricsResponse">
        <wsdl:part name="parameters" element="ns:findLastJMXClassLoadingMetricsResponse"/>
    </wsdl:message>
    <wsdl:message name="findLastJMXPhysicalMemoryMetricsRequest">
        <wsdl:part name="parameters" element="ns:findLastJMXPhysicalMemoryMetrics"/>
    </wsdl:message>
    <wsdl:message name="findLastJMXPhysicalMemoryMetricsResponse">
        <wsdl:part name="parameters" element="ns:findLastJMXPhysicalMemoryMetricsResponse"/>
    </wsdl:message>
    <wsdl:message name="findLastJMXFileDescriptorMetricsRequest">
        <wsdl:part name="parameters" element="ns:findLastJMXFileDescriptorMetrics"/>
    </wsdl:message>
    <wsdl:message name="findLastJMXFileDescriptorMetricsResponse">
        <wsdl:part name="parameters" element="ns:findLastJMXFileDescriptorMetricsResponse"/>
    </wsdl:message>
    <wsdl:message name="findJMXCPULoadMetricsByTimePeriodRequest">
        <wsdl:part name="parameters" element="ns:findJMXCPULoadMetricsByTimePeriod"/>
    </wsdl:message>
    <wsdl:message name="findJMXCPULoadMetricsByTimePeriodResponse">
        <wsdl:part name="parameters" element="ns:findJMXCPULoadMetricsByTimePeriodResponse"/>
    </wsdl:message>
    <wsdl:message name="findJMXClassLoadingMetricsByTimePeriodRequest">
        <wsdl:part name="parameters" element="ns:findJMXClassLoadingMetricsByTimePeriod"/>
    </wsdl:message>
    <wsdl:message name="findJMXClassLoadingMetricsByTimePeriodResponse">
        <wsdl:part name="parameters" element="ns:findJMXClassLoadingMetricsByTimePeriodResponse"/>
    </wsdl:message>
    <wsdl:message name="findJMXFileDescriptorMetricsByTimePeriodRequest">
        <wsdl:part name="parameters" element="ns:findJMXFileDescriptorMetricsByTimePeriod"/>
    </wsdl:message>
    <wsdl:message name="findJMXFileDescriptorMetricsByTimePeriodResponse">
        <wsdl:part name="parameters" element="ns:findJMXFileDescriptorMetricsByTimePeriodResponse"/>
    </wsdl:message>
    <wsdl:portType name="MetricsDataServicePortType">
        <wsdl:operation name="findLastJMXThreadingMetrics">
            <wsdl:input message="ns:findLastJMXThreadingMetricsRequest" wsaw:Action="urn:findLastJMXThreadingMetrics"/>
            <wsdl:output message="ns:findLastJMXThreadingMetricsResponse" wsaw:Action="urn:findLastJMXThreadingMetricsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="findJMXPhysicalMemoryMetricsByTimePeriod">
            <wsdl:input message="ns:findJMXPhysicalMemoryMetricsByTimePeriodRequest" wsaw:Action="urn:findJMXPhysicalMemoryMetricsByTimePeriod"/>
            <wsdl:output message="ns:findJMXPhysicalMemoryMetricsByTimePeriodResponse" wsaw:Action="urn:findJMXPhysicalMemoryMetricsByTimePeriodResponse"/>
        </wsdl:operation>
        <wsdl:operation name="findJMXThreadingMetricsByTimePeriod">
            <wsdl:input message="ns:findJMXThreadingMetricsByTimePeriodRequest" wsaw:Action="urn:findJMXThreadingMetricsByTimePeriod"/>
            <wsdl:output message="ns:findJMXThreadingMetricsByTimePeriodResponse" wsaw:Action="urn:findJMXThreadingMetricsByTimePeriodResponse"/>
        </wsdl:operation>
        <wsdl:operation name="findJMXMemoryMetricsByTimePeriod">
            <wsdl:input message="ns:findJMXMemoryMetricsByTimePeriodRequest" wsaw:Action="urn:findJMXMemoryMetricsByTimePeriod"/>
            <wsdl:output message="ns:findJMXMemoryMetricsByTimePeriodResponse" wsaw:Action="urn:findJMXMemoryMetricsByTimePeriodResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllSources">
            <wsdl:input message="ns:getAllSourcesRequest" wsaw:Action="urn:getAllSources"/>
            <wsdl:output message="ns:getAllSourcesResponse" wsaw:Action="urn:getAllSourcesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXCPULoadMetrics">
            <wsdl:input message="ns:findLastJMXCPULoadMetricsRequest" wsaw:Action="urn:findLastJMXCPULoadMetrics"/>
            <wsdl:output message="ns:findLastJMXCPULoadMetricsResponse" wsaw:Action="urn:findLastJMXCPULoadMetricsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="findJMXLoadAverageMetricsByTimePeriod">
            <wsdl:input message="ns:findJMXLoadAverageMetricsByTimePeriodRequest" wsaw:Action="urn:findJMXLoadAverageMetricsByTimePeriod"/>
            <wsdl:output message="ns:findJMXLoadAverageMetricsByTimePeriodResponse" wsaw:Action="urn:findJMXLoadAverageMetricsByTimePeriodResponse"/>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXLoadAverageMetrics">
            <wsdl:input message="ns:findLastJMXLoadAverageMetricsRequest" wsaw:Action="urn:findLastJMXLoadAverageMetrics"/>
            <wsdl:output message="ns:findLastJMXLoadAverageMetricsResponse" wsaw:Action="urn:findLastJMXLoadAverageMetricsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXMemoryMetrics">
            <wsdl:input message="ns:findLastJMXMemoryMetricsRequest" wsaw:Action="urn:findLastJMXMemoryMetrics"/>
            <wsdl:output message="ns:findLastJMXMemoryMetricsResponse" wsaw:Action="urn:findLastJMXMemoryMetricsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXClassLoadingMetrics">
            <wsdl:input message="ns:findLastJMXClassLoadingMetricsRequest" wsaw:Action="urn:findLastJMXClassLoadingMetrics"/>
            <wsdl:output message="ns:findLastJMXClassLoadingMetricsResponse" wsaw:Action="urn:findLastJMXClassLoadingMetricsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXPhysicalMemoryMetrics">
            <wsdl:input message="ns:findLastJMXPhysicalMemoryMetricsRequest" wsaw:Action="urn:findLastJMXPhysicalMemoryMetrics"/>
            <wsdl:output message="ns:findLastJMXPhysicalMemoryMetricsResponse" wsaw:Action="urn:findLastJMXPhysicalMemoryMetricsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXFileDescriptorMetrics">
            <wsdl:input message="ns:findLastJMXFileDescriptorMetricsRequest" wsaw:Action="urn:findLastJMXFileDescriptorMetrics"/>
            <wsdl:output message="ns:findLastJMXFileDescriptorMetricsResponse" wsaw:Action="urn:findLastJMXFileDescriptorMetricsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="findJMXCPULoadMetricsByTimePeriod">
            <wsdl:input message="ns:findJMXCPULoadMetricsByTimePeriodRequest" wsaw:Action="urn:findJMXCPULoadMetricsByTimePeriod"/>
            <wsdl:output message="ns:findJMXCPULoadMetricsByTimePeriodResponse" wsaw:Action="urn:findJMXCPULoadMetricsByTimePeriodResponse"/>
        </wsdl:operation>
        <wsdl:operation name="findJMXClassLoadingMetricsByTimePeriod">
            <wsdl:input message="ns:findJMXClassLoadingMetricsByTimePeriodRequest" wsaw:Action="urn:findJMXClassLoadingMetricsByTimePeriod"/>
            <wsdl:output message="ns:findJMXClassLoadingMetricsByTimePeriodResponse" wsaw:Action="urn:findJMXClassLoadingMetricsByTimePeriodResponse"/>
        </wsdl:operation>
        <wsdl:operation name="findJMXFileDescriptorMetricsByTimePeriod">
            <wsdl:input message="ns:findJMXFileDescriptorMetricsByTimePeriodRequest" wsaw:Action="urn:findJMXFileDescriptorMetricsByTimePeriod"/>
            <wsdl:output message="ns:findJMXFileDescriptorMetricsByTimePeriodResponse" wsaw:Action="urn:findJMXFileDescriptorMetricsByTimePeriodResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MetricsDataServiceSoap11Binding" type="ns:MetricsDataServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="findJMXPhysicalMemoryMetricsByTimePeriod">
            <soap:operation soapAction="urn:findJMXPhysicalMemoryMetricsByTimePeriod" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXThreadingMetrics">
            <soap:operation soapAction="urn:findLastJMXThreadingMetrics" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findJMXThreadingMetricsByTimePeriod">
            <soap:operation soapAction="urn:findJMXThreadingMetricsByTimePeriod" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findJMXMemoryMetricsByTimePeriod">
            <soap:operation soapAction="urn:findJMXMemoryMetricsByTimePeriod" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllSources">
            <soap:operation soapAction="urn:getAllSources" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXCPULoadMetrics">
            <soap:operation soapAction="urn:findLastJMXCPULoadMetrics" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXLoadAverageMetrics">
            <soap:operation soapAction="urn:findLastJMXLoadAverageMetrics" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findJMXLoadAverageMetricsByTimePeriod">
            <soap:operation soapAction="urn:findJMXLoadAverageMetricsByTimePeriod" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXMemoryMetrics">
            <soap:operation soapAction="urn:findLastJMXMemoryMetrics" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXClassLoadingMetrics">
            <soap:operation soapAction="urn:findLastJMXClassLoadingMetrics" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXPhysicalMemoryMetrics">
            <soap:operation soapAction="urn:findLastJMXPhysicalMemoryMetrics" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXFileDescriptorMetrics">
            <soap:operation soapAction="urn:findLastJMXFileDescriptorMetrics" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findJMXCPULoadMetricsByTimePeriod">
            <soap:operation soapAction="urn:findJMXCPULoadMetricsByTimePeriod" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findJMXClassLoadingMetricsByTimePeriod">
            <soap:operation soapAction="urn:findJMXClassLoadingMetricsByTimePeriod" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findJMXFileDescriptorMetricsByTimePeriod">
            <soap:operation soapAction="urn:findJMXFileDescriptorMetricsByTimePeriod" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MetricsDataServiceSoap12Binding" type="ns:MetricsDataServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="findJMXPhysicalMemoryMetricsByTimePeriod">
            <soap12:operation soapAction="urn:findJMXPhysicalMemoryMetricsByTimePeriod" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXThreadingMetrics">
            <soap12:operation soapAction="urn:findLastJMXThreadingMetrics" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findJMXThreadingMetricsByTimePeriod">
            <soap12:operation soapAction="urn:findJMXThreadingMetricsByTimePeriod" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findJMXMemoryMetricsByTimePeriod">
            <soap12:operation soapAction="urn:findJMXMemoryMetricsByTimePeriod" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllSources">
            <soap12:operation soapAction="urn:getAllSources" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXCPULoadMetrics">
            <soap12:operation soapAction="urn:findLastJMXCPULoadMetrics" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXLoadAverageMetrics">
            <soap12:operation soapAction="urn:findLastJMXLoadAverageMetrics" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findJMXLoadAverageMetricsByTimePeriod">
            <soap12:operation soapAction="urn:findJMXLoadAverageMetricsByTimePeriod" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXMemoryMetrics">
            <soap12:operation soapAction="urn:findLastJMXMemoryMetrics" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXClassLoadingMetrics">
            <soap12:operation soapAction="urn:findLastJMXClassLoadingMetrics" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXPhysicalMemoryMetrics">
            <soap12:operation soapAction="urn:findLastJMXPhysicalMemoryMetrics" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXFileDescriptorMetrics">
            <soap12:operation soapAction="urn:findLastJMXFileDescriptorMetrics" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findJMXCPULoadMetricsByTimePeriod">
            <soap12:operation soapAction="urn:findJMXCPULoadMetricsByTimePeriod" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findJMXClassLoadingMetricsByTimePeriod">
            <soap12:operation soapAction="urn:findJMXClassLoadingMetricsByTimePeriod" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findJMXFileDescriptorMetricsByTimePeriod">
            <soap12:operation soapAction="urn:findJMXFileDescriptorMetricsByTimePeriod" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MetricsDataServiceHttpBinding" type="ns:MetricsDataServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="findJMXPhysicalMemoryMetricsByTimePeriod">
            <http:operation location="findJMXPhysicalMemoryMetricsByTimePeriod"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXThreadingMetrics">
            <http:operation location="findLastJMXThreadingMetrics"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findJMXThreadingMetricsByTimePeriod">
            <http:operation location="findJMXThreadingMetricsByTimePeriod"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findJMXMemoryMetricsByTimePeriod">
            <http:operation location="findJMXMemoryMetricsByTimePeriod"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllSources">
            <http:operation location="getAllSources"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXCPULoadMetrics">
            <http:operation location="findLastJMXCPULoadMetrics"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXLoadAverageMetrics">
            <http:operation location="findLastJMXLoadAverageMetrics"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findJMXLoadAverageMetricsByTimePeriod">
            <http:operation location="findJMXLoadAverageMetricsByTimePeriod"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXMemoryMetrics">
            <http:operation location="findLastJMXMemoryMetrics"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXClassLoadingMetrics">
            <http:operation location="findLastJMXClassLoadingMetrics"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXPhysicalMemoryMetrics">
            <http:operation location="findLastJMXPhysicalMemoryMetrics"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findLastJMXFileDescriptorMetrics">
            <http:operation location="findLastJMXFileDescriptorMetrics"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findJMXCPULoadMetricsByTimePeriod">
            <http:operation location="findJMXCPULoadMetricsByTimePeriod"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findJMXClassLoadingMetricsByTimePeriod">
            <http:operation location="findJMXClassLoadingMetricsByTimePeriod"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findJMXFileDescriptorMetricsByTimePeriod">
            <http:operation location="findJMXFileDescriptorMetricsByTimePeriod"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MetricsDataService">
        <wsdl:port name="MetricsDataServiceHttpSoap11Endpoint" binding="ns:MetricsDataServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/MetricsDataService"/>
        </wsdl:port>
        <wsdl:port name="MetricsDataServiceHttpSoap12Endpoint" binding="ns:MetricsDataServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/MetricsDataService"/>
        </wsdl:port>
        <wsdl:port name="MetricsDataServiceHttpEndpoint" binding="ns:MetricsDataServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/MetricsDataService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
