service-stubs/org.wso2.carbon.metrics.data.service.stub/src/main/resources/MetricsDataService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax215="http://service.data.metrics.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.data.metrics.carbon.wso2.org" xmlns:ax213="http://common.data.metrics.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.data.metrics.carbon.wso2.org">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.data.metrics.carbon.wso2.org/xsd">
            <xs:complexType name="MetricData">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="data" nillable="true" type="ax215:ArrayOfBigDecimal"/>
                    <xs:element minOccurs="0" name="metadata" nillable="true" type="ax215:Metadata"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfBigDecimal">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="array" nillable="true" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Metadata">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="names" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="types" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.data.metrics.carbon.wso2.org/xsd">
            <xs:complexType name="MetricList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="metric" nillable="true" type="ax213:Metric"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Metric">
                <xs:sequence>
                    <xs:element minOccurs="0" name="attr" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="format" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="statName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax214="http://common.data.metrics.carbon.wso2.org/xsd" xmlns:ax216="http://service.data.metrics.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.data.metrics.carbon.wso2.org">
            <xs:import namespace="http://common.data.metrics.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://service.data.metrics.carbon.wso2.org/xsd"/>
            <xs:element name="getAllSources">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllSourcesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findLastMetrics">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="metrics" nillable="true" type="ax214:MetricList"/>
                        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findLastMetricsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax215:MetricData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findMetricsByTimePeriod">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="metrics" nillable="true" type="ax214:MetricList"/>
                        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="startTime" type="xs:long"/>
                        <xs:element minOccurs="0" name="endTime" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findMetricsByTimePeriodResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax215:MetricData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAllSourcesRequest">
        <wsdl:part name="parameters" element="ns:getAllSources"/>
    </wsdl:message>
    <wsdl:message name="getAllSourcesResponse">
        <wsdl:part name="parameters" element="ns:getAllSourcesResponse"/>
    </wsdl:message>
    <wsdl:message name="findLastMetricsRequest">
        <wsdl:part name="parameters" element="ns:findLastMetrics"/>
    </wsdl:message>
    <wsdl:message name="findLastMetricsResponse">
        <wsdl:part name="parameters" element="ns:findLastMetricsResponse"/>
    </wsdl:message>
    <wsdl:message name="findMetricsByTimePeriodRequest">
        <wsdl:part name="parameters" element="ns:findMetricsByTimePeriod"/>
    </wsdl:message>
    <wsdl:message name="findMetricsByTimePeriodResponse">
        <wsdl:part name="parameters" element="ns:findMetricsByTimePeriodResponse"/>
    </wsdl:message>
    <wsdl:portType name="MetricsDataServicePortType">
        <wsdl:operation name="getAllSources">
            <wsdl:input message="ns:getAllSourcesRequest" wsaw:Action="urn:getAllSources"/>
            <wsdl:output message="ns:getAllSourcesResponse" wsaw:Action="urn:getAllSourcesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="findLastMetrics">
            <wsdl:input message="ns:findLastMetricsRequest" wsaw:Action="urn:findLastMetrics"/>
            <wsdl:output message="ns:findLastMetricsResponse" wsaw:Action="urn:findLastMetricsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="findMetricsByTimePeriod">
            <wsdl:input message="ns:findMetricsByTimePeriodRequest" wsaw:Action="urn:findMetricsByTimePeriod"/>
            <wsdl:output message="ns:findMetricsByTimePeriodResponse" wsaw:Action="urn:findMetricsByTimePeriodResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MetricsDataServiceSoap11Binding" type="ns:MetricsDataServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAllSources">
            <soap:operation soapAction="urn:getAllSources" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findLastMetrics">
            <soap:operation soapAction="urn:findLastMetrics" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findMetricsByTimePeriod">
            <soap:operation soapAction="urn:findMetricsByTimePeriod" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MetricsDataServiceSoap12Binding" type="ns:MetricsDataServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAllSources">
            <soap12:operation soapAction="urn:getAllSources" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findLastMetrics">
            <soap12:operation soapAction="urn:findLastMetrics" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findMetricsByTimePeriod">
            <soap12:operation soapAction="urn:findMetricsByTimePeriod" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MetricsDataServiceHttpBinding" type="ns:MetricsDataServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getAllSources">
            <http:operation location="getAllSources"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findLastMetrics">
            <http:operation location="findLastMetrics"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findMetricsByTimePeriod">
            <http:operation location="findMetricsByTimePeriod"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MetricsDataService">
        <wsdl:port name="MetricsDataServiceHttpSoap11Endpoint" binding="ns:MetricsDataServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/MetricsDataService"/>
        </wsdl:port>
        <wsdl:port name="MetricsDataServiceHttpSoap12Endpoint" binding="ns:MetricsDataServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/MetricsDataService"/>
        </wsdl:port>
        <wsdl:port name="MetricsDataServiceHttpEndpoint" binding="ns:MetricsDataServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/MetricsDataService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
